/* Post Form 2 Styling */

#postForm2 .custom-select {
    height: calc(2.25rem + 7px);
}

#postForm2 textarea {
    overflow: auto;
    resize: none;
}

#postForm2Body {
    padding-bottom: 0;
}

#postForm2Btn {
    background-color: rgb(252, 250, 132);
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px #262f2a;
    color: black;
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    outline: none;
    padding: 7px 0px;
    text-transform: uppercase;
    width: 100px;
}

#postForm2Btn:hover {
    background-color: #563D7C;
    color: white;
}

#postForm2Btn:focus {
    outline: none;
}

#postForm2BtnWrapper {
    text-align: right;
}

#postForm2CatSelect {
    float: left;
    width: 50%;
}
#postForm2Header {
    background-color: #c173d0;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    padding-bottom: 0;
    text-shadow: 1px 1px #262f2a;
}

#postForm2Panel .panel {
    background: linear-gradient(to top, #e6a8f8, #c173d0);
    border: unset;
    box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}