/* Category Button Styling */

.categories button {
    background-color: unset;
    border: unset;
    padding: 5px 10px;
}

.categories button:hover {
    background-color: #563D7C; /* Previous: #692e4e */
    color: white;
}

.categories button:focus {
    outline: 0;
}

#categoryNav {
    background: unset;
    background-color: rgb(252, 250, 132);
    border-radius: unset;
    box-shadow: unset;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: -20px;
    min-height: 1px;
    padding: 0;
}