/* Developer Card Styling */

.devCard {
    background: #fff;
    border-radius: 2px;
    height: 235px;
    margin: 1rem;
    /* margin-right: 0px; */
    position: relative;
    width: 180px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    padding: 0px;
    float: left;
  }

.devCard > .img-container {
    height: 50%;
    /* overflow: hidden; */
    text-align: center;
    /* background: purple; */
    background: linear-gradient(to top, #e6a8f8, #c173d0);
    
  }

.devCard > .img-container > img {
    width: 40%;
     }

#devCardImg {
    box-shadow: 2px 2px black;
    width: 118px;
    height: 118px;
    border: rgb(225, 206, 206);
    border: 2px solid white;
    border-width: 7px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
.devCard > .devContent {
    padding-left: 0rem;
    padding-right: 0rem;
    font-size: 12px;
    text-align: center;
  }
  
.devCard > .devContent > ul {
    list-style-type: none;
    padding: 0px;
  }
  
.devCard > .devContent > ul > li {
    margin-top: 0px;
    font-family: Roboto, sans-serif;
  }

.devContent {
    margin-top: 15px;
}

.devTextSocial {
    text-align: center;
     color: white;
}

.fa-linkedin {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 5px;
    margin-left: 10px;
  }

.fa-github {
  padding: 5px;
  }

/* media queries */
/* small screens */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
    .navBarBtn {
        margin-top: 10px;
    }
    #logoText {
        margin-top: 12px;
        padding-left: 10px;
    }
    .signUpForm {
        margin-top: 40px;
    }
    .navBarHeader {
        max-width: 80px;
    }
    .navBarLogo {
        max-width: 80px;
    }
    div {
        width: 100%;
    }
    body {
        max-width: 400px;
    }
    .devCard {
      width: 100%;
    }
    .devText {
      width: 280px;
    }
}
/* iPad screens */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #logoText {
      padding-left: 10px;
      padding-top: 5px;
  }
  .navBarLogo {
      left: -2px;
  }
}



  