/* Sign-Up Form Styling */

#location-input {
    height: 30px;
    padding: 4px 12px;
}

.signUpBtn {
    background-color: rgb(252, 250, 132);
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px #262f2a;
    color: black;
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    padding: 7px 0px;
    text-transform: uppercase;
    width: 100px;
}

.signUpBtn:hover {
    background-color: #563D7C;
    color: white;
}

.signUpBtn:focus {
    outline: none;
}

.signUpForm {
    background-color: #c173d0;
    box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: white;
    margin: 0px 20px;
    padding: 20px 33px;
}

.signUpForm .form-group {
    margin: 0 0 7px 0;
}

.signUpForm .form-control {
    height: 28px;
}

.signUpForm label {
    text-shadow: 1px 1px #262f2a;
}

.signUpFormBtnWrapper {
    text-align: center;
}

#signUpFormTextBox {
    height: 40px;
}

.signUpFormHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: 'Bree Serif', serif;
    margin: 0;
    padding: 10px 0 27px;
    text-align: center;
    text-shadow: 1px 1px #262f2a;
}

@-webkit-keyframes shine {

    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }

}        

/* media queries */
/* small screens */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
    .navBarBtn {
        margin-top: 10px;
    }
    #logoText {
        margin-top: 12px;
        padding-left: 10px;
    }
    .signUpForm {
        margin-top: 40px;
    }
    .navBarHeader {
        max-width: 80px;
    }
    .navBarLogo {
        max-width: 80px;
    }
    div {
        width: 100%;
    }
    body {
        max-width: 400px;
    }
}
/* iPad screens */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #logoText {
      padding-left: 10px;
      padding-top: 5px;
  }
  .navBarLogo {
      left: -2px;
  }
}