/* NavBar Styling */

.navbar {
    box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid black;
    /* background: b-wekit-linear-gradient(bottom right, #692e4e), rgba(255, 255, 255, 1); */
    /* background: -o-linear-gradient(bottom right, #31708e, #8Fc1e3); */
    /* background: -moz-linear-gradient(bottom right, #31708e, #8Fc1e3); */
    background: linear-gradient(180deg, lightgray, white 21%, lightgray 69%);
}

#navBarLogoText {
    height: 80px;     
    padding: 5px 5px 5px 10px;
}

.navBarAppHeader {
    position: absolute;
    right: 20px;
}

#navBarAppText {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px #262f2a;
}

/* NavBar Button\Link Styling */

.navBarBtn {
    background-color: #00467f;
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px #262f2a;
    color: white;
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    outline: none;
    padding: 7px 0px;
    text-transform: uppercase;
    width: 100px;
}

.navBarBtn:hover {
    background-color: #00547f;
}

.navBarBtn:focus {
    outline: none;
}

.navBarBtnList {
    margin: 0;
    padding: 0;
}

.navBarBtnList li {
    display: inline;
}

.navBarBtnWrapper {
    position: absolute;
    right: 10px;
}

.navBarBtnWrapper a {
    padding: 0 10px;
}